
<template name="field">
  <div class="fieldBox">
        <div class="field">
              	{{#each spaces}}
                  {{> space}}
                {{/each}}
        </div>



  </div>

</template>


<template name="space">

  <div class="space {{edge}} {{me}}" id="{{_id}}" data-x="{{location.x}}" data-y="{{location.y}}">

    {{#if selectCell}}
      <div class="selectCell {{selected}}"></div>
    {{/if}}

    {{#if isCell}}
      <div class="{{teamName}}Cell cell {{aniMove}}" id={{cellId}}>{{devour}} {{{isMe}}}</div>
    {{/if}}
  </div>

</template>
